body {

}

#top {
    position: static;
    margin-top: -5px;
    background-color: White;
    margin-left: -10px;
}

#strip {
     z-index: 1;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #3D3D5C;
    margin-top: 30px;
}

#nav {
    list-style-type: none;
    text-align: right;
    margin-right: 40px;
    margin-top: 50px;
}

#nav li {
    display: inline;
    margin-right: 25px;
    font-family: Verdana;
}

#nav li a {
    text-decoration: none;
}

#text {
    margin-left: 85px;
    font-family: Verdana;
    font-size: 80px;
    color: #14141F;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
}

.circle p img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    
}

.bottom {
    position: relative;
    clear: both;
    background-color: #14141F;
    margin-left: -10px;
    text-align: center;
}